<body id="bgcolor">

        


  <br><br><br><br>
  
    <div class="text-block">
        
      <h1>
          
          
          <font style="font-size: 150%; ">
        <b>Log In </b>  
       </font>
      </h1>
        
        <div class="linsup">

          <h1>
                
       
              <img src="assets/DSpng.png" style="width:150px;height:auto;margin:0;padding-top: 10px;" > 

              <br>
              <div>
                <form (ngSubmit)="redirect()" #aForm="ngForm">
                  <p>
                    <label for="username"><font size="5px"> User Name: </font></label>
                      <input type="text" placeholder="Username" size="50" id="username" [(ngModel)]="adminForm.username" name="username" #username="ngModel" required minlength="6"><br>
                  </p>

                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alertDanger">
                    <div *ngIf="username.errors?.required">
                      <font size="5px">Name is required.</font>
                    </div>
                    <div *ngIf="username.errors?.minlength">
                     <font size="5px"> Name should be 4 characters.</font>
                    </div>
                  </div>
                    
                  <p>
                    <label for="password"><font size="5px">Password &nbsp;: </font></label>
                      <input type="password" placeholder="Password" size="50" id="password" [(ngModel)]="adminForm.password" name="password" #password="ngModel" required><br><br>
                  </p>  

                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alertDanger">
                    <div *ngIf="password.errors?.required">
                      <font size="5px">Password is required.</font>
                    </div>
                  </div>
                      <!-- <a href="#" class="button"> Login </a> -->
                      <button type="submit" [disabled]="aForm.invalid" class="button button1"><font size="5px">LOGIN</font></button>

              
                </form>
              </div>
              <br><br>
              
              
              

          
      
      </h1>

          

          </div>

          <!-- <router-outlet></router-outlet> -->
    
      
    
  </div>
    
 

  <br><br><br><br><br><br>
  

</body>