<body id="bgcolor">



    <div class="text-block">
          
      <h1>
        
        <b>Log In</b>  
    
        
        <div class="linsup">

          <h1>
                
           
              <img src="Pictures/DSpng.png" style="width:150px;height:auto;margin:0;padding-top: 10px;" > 

              <br><br>

              <font size="5px"> User Name: </font>
              <input type="text" id="uname" name="uname" placeholder="Email id" size="50"><br>
              <font size="5px">Password &nbsp;: </font>
              <input type="password" id="fname" name="fname" placeholder="Password" maxlength="4" size="50"><br><br>
              <input type="submit" class="button" value="Login">
              
              <br><br>

        

          
      
      </h1>

          

          </div>

    
    </h1>
      
    
  </div>
    

</body>