body 
{
     margin:0;
     }

#bgcolor
{
    background-color:black;
}


.main 
{
margin-left: 360px; 
}



.square
 {
    height: 100px;
    position: fixed;
    top: 0;
    margin-left: 360px; 
     width: 1550px;
    background-color:#111;
}





.icon-bar {
width: 100%;

background-color:#0B615E;
overflow: auto;
}



.icon-bar a 
{
float: left;
width: 140px;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}   

.icon-bar a:hover {
background-color: #555;
}   

.active 
{

    background-color:whitesmoke;
}


.container 
{
position: relative;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
opacity: 0.;
}

.text-block {
background-color:green;
width: 50%;
margin-left: 25%;
color: whitesmoke;
padding-left: 20px;
padding-right: 20px;
text-align: center;
border: 8px solid green;

}

.linsup {
background-color:white;
width: 95%;
color: black;
padding-left: 20px;
padding-right: 20px;
text-align: center;
}

.alertDanger{
    color:red;
}

.button 
      {
      background-color: green; 
      border: none;
      color: white;
       padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      }

/* .button1{
    color:green;
} */

      