<body id="bgcolor">

        


    <br><br><br><br>
    
      <div class="text-block">
          
        <h1>
            
            
            
           
            <b>
                <a href="upload"><font size="6px">Log In</font></a> / Sign Up
                
                </b>
         
        </h1>
          
          <div class="linsup">

            <h1>
                  
         
                
                        
                    
                      <img src="assets/DSpng.png" style="width:150px;height:auto;margin:0;padding-top: 10px;" > <br>

                      <font size="5px"> First Name: </font>
                <input type="text" id="uname" name="uname" placeholder="Enter First Name" size="50"><br>

                <font size="5px"> First Name: </font>
                <input type="text" id="uname" name="uname" placeholder="Enter First Name" size="50"><br>

                <font size="5px"> Add UserId: </font>
                <input type="text" id="uname" name="uname" placeholder="Make an user id" size="50"><br>
                
                <font size="5px">Password &nbsp;: </font>
                <input type="password" id="fname" name="fname" placeholder="Password" maxlength="4" size="50"><br><br>

                <font size="5px">Re-enter Password &nbsp;: </font>
                <input type="password" id="fname" name="fname" placeholder="Re-enter Password" maxlength="4" size="50"><br><br>
                    

                      
                      
                      <br><hr>
                       
                      <!--<a hre="upload pic.html"><font size="6px"><input type="submit" class="button" value="Upload Video"></font></a>-->
                      <a href="upload">
                        <input type="submit" class="button" value="Save">
                        </a>
                      <br><br>
                
                
                

            
        
        </h1>

            

            </div>

            <router-outlet></router-outlet>
      
        
      
    </div>
      
   

    <br><br><br><br><br><br>
    

</body>