<body id="bgcolor">

        


        <br><br><br><br>
        
          <div class="text-block">
              
            <h1>
                
                
                <font style="font-size: 150%; ">
              <b>Select Video to upload:</b>  
             </font>
            </h1>
              
              <div class="linsup">
    
                <h1>
                      
             
                    
    
                    <br><br><br><br>
                     
                     <input type="text" name="fileToUpload" id="fileToUpload" placeholder="Enter the word" style="border-radius: 8px;font-size: 30px;">
                     <br><br><br>
                     <input type="file" class="button2" name="fileToUpload" id="fileToUpload" accept="video/mp4,video/X-mp4,video/*">
                    <br><br><br>
                    <input type="submit" class="button" value="Upload" name="submit" style="border-radius: 8px;font-size: 30px;" >

                    <br><br>
                    
                    
                    
    
                
            
            </h1>
    
                
    
                </div>
    
              
          
            
          
        </div>
          
       
    
        <br><br><br><br><br><br>
        
    
    </body>







