<body id="bgcolor">

      <div class="text-block">
          
        <h1>
            
         
          <b>Words for Voting</b>  
        
      
      </h1>
        
      </div>
    
      
   

    <div >

      <br><br><br><br>

      <input type="submit" class="button" value="class" style="margin-left: 50px">
      <input type="submit" class="button" value="Object" style="margin-left: 50px">
      <input type="submit" class="button" value="Angular" style="margin-left: 50px">
      <input type="submit" class="button" value="Function" style="margin-left: 50px">
      <input type="submit" class="button" value="Java" style="margin-left: 50px">
      <input type="submit" class="button" value="Inheritance" style="margin-left: 50px">

      

      </div>
    

</body>