<html>
<body id="bgcolor">


  <div class="icon-bar">

    <img src="assets/DSpng.png" style="width:90px;height:auto;margin:0;padding-top: 10px;padding-left: 400px;" >


    <a class="active" routerLink='home'><img src="assets/homepng.png" style="width:150px;height:60px;"></a> 
    <a routerLink='aboutus'><img src="assets/aboutuspng.png" style="width:150px;height:60px;"></a> 
    <a routerLink='upload'><img src="assets/uploadpng.png" style="width:150px;height:60px;"></a> 
    <a routerLink='voting'><img src="assets/votingpng.png" style="width:150px;height:60px;"></a> 
    <a routerLink='gallery'><img src="assets/gallerypng.png" style="width:150px;height:60px;"></a> 
    <a  routerLink='admin'><img src="assets/adminpng.png" style="width:150px;height:60px;"></a>
    <a  routerLink='contactus'><img src="assets/contactuspng.png" style="width:150px;height:60px;"></a>
    
  </div>

 
  </body>

</html>

<router-outlet></router-outlet>
