<table class="table table-striped">
    <thead size="5px">
        <tr size="20px"> 
            <th size="20px">Row &nbsp; &nbsp; &nbsp; &nbsp;</th>
            <th size="20px">Word &nbsp; &nbsp; &nbsp; &nbsp;</th>
            
            <th size="20px">Email &nbsp; &nbsp; &nbsp; &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>  </td>
            
            <td>   </td>
            <td><button class="button1">Delete</button>
                <button class="button2">Approve</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>   </td>
            
            <td>   </td>
            <td><button class="button1">Delete</button>
                <button class="button2">Approve</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>   </td>
            
            <td>  </td>
            <td><button class="button1">Delete</button>
                <button class="button2">Approve</button></td>
        </tr>            
    </tbody>

    

   <!-- <router-outlet></router-outlet> -->
</table>