body 
{
     margin:0;
     
     }

#bgcolor
{
    background-color:black;
}


.main 
{
margin-left: 360px; 
}



.square
 {
    height: 100px;
    position: fixed;
    top: 0;
    margin-left: 360px; 
     width: 1550px;
    background-color:#111;
}





.icon-bar {
width: 100%;

background-color:#0B615E;
overflow: auto;
}



.icon-bar a 
{
float: left;
width: 140px;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 36px;
}   

.icon-bar a:hover {
background-color: #555;
}   

.active 
{

    background-color:whitesmoke;
}


.container 
{
position: relative;
font-family: 'Times New Roman', Times, serif;
text-align: center;


font-size: 25px;
opacity: 0.;
}

.text-block {
background-color:#555;
width: 90%;
margin-left: 5%;
color: whitesmoke;
padding-left: 20px;
padding-right: 20px;

}

.para
{
border: 1px solid gray;
padding: 8px;
border-color: white;

}

.parahead
{
text-align: center;
text-transform: uppercase;
color: #4CAF50;
font-family: 'Times New Roman', Times, serif;
}







* {
box-sizing: border-box;
}



.main {
max-width: 1000px;
margin: auto;
}

h1 {
font-size: 50px;
word-break: break-all;
}

.row {
margin: 8px -16px;
}


.column {
padding: 8px;
}

.column {
float: left;
width: 25%;
}


.row:after {
content: "";
display: table;
clear: both;
}


.content {
background-color: white;
padding: 10px;
}



.column {
width: 50%;
}