<body id="bgcolor">
    <div class="container">
                
        <img src="assets/sng.jpg" style="width: 100%;height:300px;margin:0;" >
        <div class="text-block">
            
          <h1>
              
             
            <b>"Signs are to eyes what words are to ears."</b>  
            
        
        </h1>
          
        </div>
      </div>
    
      <div >
    
    
              
    
        <br><br>
    
    
     <form>
        <input type="text" id="search" name="search" placeholder="Search..." style="margin-left: 50px; " >
        <button type="submit" class="button">Search</button>


      </form>
    
        
    
      <a href="assets/mouse.mp4" style="margin-left: 50px; ">
      <video width="300" height="200" controls>
        <source src="assets/mouse.mp4" type="video/mp4">
      </video>
      </a>
    
      <a href="assets/keyboard.mp4" style="margin-left: 50px; ">
        <video width="300" height="200" controls>
          <source src="assets/keyboard.mp4" type="video/mp4">
        </video>
        </a>
    
        <a href="assets/Class.mp4" style="margin-left: 50px; ">
          <video width="300" height="200" controls>
            <source src="assets/Class.mp4" type="video/mp4">
          </video>
          </a>
        
    
          <a href="assets/Inheritance.mp4" style="margin-left: 50px; ">
            <video width="300" height="200" controls>
              <source src="assets/Inheritance.mp4" type="video/mp4">
            </video>
            </a>
    
            <a href="assets/Object.mp4" style="margin-left: 50px; ">
              <video width="300" height="200" controls>
                <source src="assets/Object.mp4" type="video/mp4">
              </video>
              </a>
        
    
              <a href="assets/Angular.mp4" style="margin-left: 50px; ">
                <video width="300" height="200" controls>
                  <source src="assets/Angular.mp4" type="video/mp4">
                </video>
                </a>
    
                <a href="assets/Loan.mp4" style="margin-left: 50px; ">
                  <video width="300" height="200" controls>
                    <source src="assets/Loan.mp4" type="video/mp4">
                  </video>
                  </a>
    
                  <a href="assets/Market.mp4" style="margin-left: 50px; ">
                    <video width="300" height="200" controls>
                      <source src="assets/Market.mp4" type="video/mp4">
                    </video>
                    </a>
    
                    <a href="assets/Interest.mp4" style="margin-left: 50px; ">
                      <video width="300" height="200" controls>
                        <source src="assets/Interest.mp4" type="video/mp4">
                      </video>
                      </a>
    
                      <a href="assets/Trade.mp4" style="margin-left: 50px; ">
                        <video width="300" height="200" controls>
                          <source src="assets/Trade.mp4" type="video/mp4">
                        </video>
                        </a>

    
    </div>
    

    
     
        <div [ngSwitch]="val" style="color: white;">
          <div *ngSwitchCase="1">One</div>
          <div *ngSwitchCase="2">Two</div>
          <div *ngSwitchCase="3">Three</div>
          <div *ngSwitchCase="4">Four</div>
          <div *ngSwitchCase="5">Five</div>
          <div *ngSwitchDefault>This is Default</div>
        </div>
     

        <input type="text" (keyup)="onKey($event)">
        <p style="color: white;">{{values}}</p>


         
         
        




        



        
         
      

    
</body>