<body id="bgcolor">

 
   

    <div >

      <br><br>
      
      <a href="assets\sng.jpg" style="margin-left: 50px; ">
        <img src="assets\sng.jpg" width="300" height="200">
    </a>
    

    <a href="assets\sng2.jpg" style="margin-left: 50px; ">
        <img src="assets\sng2.jpg" width="300" height="200">
    </a>

    <a href="assets\sng3.jpg" style="margin-left: 50px; ">
        <img src="assets\sng3.jpg" width="300" height="200">
    </a>
    

    <a href="assets\languagebg.jpg" style="margin-left: 50px; ">
        <img src="assets\languagebg.jpg" width="300" height="200">
    </a>

    <a href="assets\langbg.jpg" style="margin-left: 50px; ">
        <img src="assets\langbg.jpg" width="300" height="200">
    </a>

    <a href="assets\DSpng.png" style="margin-left: 50px; ">
        <img src="assets\DSpng.png" width="300" height="200">
    </a>

    <a href="assets\7.jpg" style="margin-left: 50px; ">
        <img src="assets\7.jpg" width="300" height="200">
    </a>

    <a href="assets\8.jpeg" style="margin-left: 50px; ">
        <img src="assets\8.jpeg" width="300" height="200">
    </a>


    <a href="assets\9.jpg" style="margin-left: 50px; ">
        <img src="assets\9.jpg" width="300" height="200">
    </a>
      

      

      </div>
    

</body>
