<body id="bgcolor">

        


    <br><br><br><br>
    
      <div class="text-block">
          
        <h1>
            
            
            
           
          <b>
            Log In / <a href="signup"><font size="6px">Sign Up</font></a>
            </b>
         
        </h1>
          
          <div class="linsup">

            <h1>
                  
         
                <img src="assets/DSpng.png" style="width:150px;height:auto;margin:0;padding-top: 10px;" > 

                <br>

                <font size="5px"> User Name: </font>
                <input type="text" id="uname" name="uname" placeholder="User id" size="50"><br>
                <font size="5px">Password &nbsp;: </font>
                <input type="password" id="fname" name="fname" placeholder="Password" maxlength="4" size="50"><br><br>
                
                

                <hr>
                 
                <!--<a href="#"><font size="6px">Sign Up</font></a> -->
                <a href="uploadvideos" class="button"> Login </a>
                <br><br>
                
                
                

            
        
        </h1>

            

            </div>

            <router-outlet></router-outlet>
      
        
      
    </div>
      
   

    <br><br><br><br><br><br>
    

</body>